@import "../../_variables.scss";

header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
}
a {
  color: rgba($day-accent, 1);
}
i {
  font-size: 40px;
}
