@use "../../_variables.scss" as *;

header {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  justify-content: space-between;
  color: #fff;
}
