<article>
  <p>
    When learning a new technology, it is a good idea to start with familiar
    logic for a project and concentrate on implementation. The concept of "Todo
    List" is very simple, but the complexity of such app can be easily scaled.
  </p>
  <p>
    I have started this project with a simple functionality:
    <span>add</span> and <span>delete</span> items. Just need to add editing
    feature and we have a <span>CRUD</span> here.
  </p>
  <p>I have used:</p>
  <ul>
    <li>services</li>
    <li>event emitter</li>
    <li>routing</li>
    <li>subject</li>
    <li>enum</li>
  </ul>

  <p>
    Than I have added <span>local storage</span> and
    <span>Bootstrap icons</span>
  </p>
</article>
