<article>
  <p>
    When learning a new technology, it is a good idea to start with familiar
    logic for a project and concentrate on new ways to implement it. The concept
    of "Todo List" is very simple, but the complexity of such app can be easily
    scaled.
  </p>
  <p>
    I have started this project with a simple functionality: add and delete an
    item, using:
  </p>
  <ul>
    <li>services</li>
    <li>even emitter</li>
  </ul>
  <p>Sprinkled a bit of routing and created "About" page.</p>
  <p>Todo has only name and date.</p>
</article>
