@import "../../_variables.scss";
@import "../../_elements.scss";

.check {
  @extend %checkbox;
}
:host {
  display: flex;
  flex-wrap: nowrap;
  height: fit-content;
  padding: 1rem;
  width: 100%;
  height: fit-content;
  gap: 1rem;

  .content {
    width: 100%;
    list-style: none;
  }
  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .title {
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
      margin: auto 0;
    }
    .delete {
      background: transparent;
      border: none;
      cursor: pointer;
      align-self: flex-end;
      margin: auto 0;
    }
  }
  //date
  .extra-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: rgba($day-text, 0.4);
    font-size: small;

    .added {
      text-transform: lowercase;
    }
  }
}
