@use "../../variables" as *;

:host {
  width: 96%;
}
.add-todo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
  gap: 1rem;
}

input {
  width: 100%;
  height: 49px;
  padding: 0 1rem;
  border-radius: $border-radius;
  outline: none;
  border: none;
  font-size: 1.2rem;
  box-shadow: $box-shadow;
}

button {
  min-width: 49px;
  min-height: 49px;
  width: 49px;
  height: 49px;
  font-size: 30px;
  border-radius: $border-radius;
  border: 2px solid $day-accent;
  color: $day-accent;
  cursor: pointer;
  box-shadow: $box-shadow;

  &:hover {
    color: $day-light;
    background-color: $day-accent;
  }
}
