$day-bgr: #f1f1f1;
$day-light: #fff;
$day-accent: #0f6dd2;
$day-text: black;

$night-bgr: black;
$night-light: rgb(29, 29, 29);
$night-accent: rgb(146, 4, 77);
$night-text: #fff;

$border-radius: 8px;
$box-shadow: 1px 1px 4px desaturate(rgba($day-accent, 0.5), 30%);
