$day-bgr: rgb(221, 222, 230);
$day-light: #fff;
$day-accent: rgb(0, 0, 142);
$day-text: black;

$night-bgr: black;
$night-light: rgb(29, 29, 29);
$night-accent: rgb(146, 4, 77);
$night-text: #fff;

$border-radius: 8px;
