@import "~bootstrap-icons/font/bootstrap-icons.css";

@import "_variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: $day-bgr;
  font-size: 1.2rem;
  line-height: 146%;
  font-family: sans-serif;
  padding: 2rem;
  width: 100vw;
  height: 100vh;
}

ul {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: fit-content;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
// scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset $box-shadow;
  border-radius: $border-radius;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $day-accent;
  border-radius: $border-radius;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($day-accent, 10%);
}
